ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: .1em;
}

h2.day {
  margin-top: .8em;
  color: #444444;
}

button.add-calendar-entry {
  border: none;
}

button.add-calendar-entry:focus {
  outline: none;
}
